<script lang="ts">
	import { goto } from '$app/navigation';
	import PokemonBaseTile from 'src/components/PokemonBaseTile.svelte';
	import SearchIcon from 'src/components/icons/SearchIcon.svelte';
	import { pokemons } from '../stores/pokemonStore';

	let search = '';

	$: filteredPokemons = search
		? $pokemons.filter(
				(pokemon) =>
					String(pokemon.id).includes(search) ||
					pokemon.name.toLowerCase().includes(search.toLowerCase())
		  )
		: $pokemons;

	const handleSubmit = () => {
		if (filteredPokemons.length > 0) {
			goto(`/pokemon/${filteredPokemons[0].id}`);
		}
	};

	let currentHover: number | undefined = undefined;
</script>

<svelte:head>
	<title>Svelte Pokedex</title>
</svelte:head>

<h1 class="text-4xl text-center">Svelte Pokedex</h1>

<form on:submit|preventDefault={handleSubmit}>
	<div class="relative my-6 text-center">
		<span class="relative">
			<span class="absolute inset-y-0 left-0 flex items-center pl-2">
				<SearchIcon classes="w-6 h-6 text-gray-400" />
			</span>
			<input
				type="search"
				bind:value={search}
				class="p-2 w-80 rounded-lg shadow-sm pl-10 focus:outline-none"
				placeholder="Search..."
				autocomplete="off"
				autofocus
			/>
		</span>
	</div>
</form>

{#if filteredPokemons.length > 0}
	<div class="flex gap-4 flex-wrap justify-center">
		{#each filteredPokemons as pokemon}
			<div
				class={!currentHover || currentHover === pokemon.id ? '' : 'blur-sm'}
				on:mouseenter={() => {
					currentHover = pokemon.id;
				}}
				on:mouseleave={() => {
					currentHover = undefined;
				}}
			>
				<PokemonBaseTile {pokemon} />
			</div>
		{/each}
	</div>
{:else}
	<p class="text-center italic">No result</p>
{/if}
