<script lang="ts">
	import { page } from '$app/stores';
	import type { Pokemon, PokemonEvolutionChain } from 'src/types/pokemon';
	import { fetchJson } from 'src/utils/fetchUtils';
	import { capitalizeFirstLetter, extractIdFromUrl } from 'src/utils/stringUtils';
	import ArrowBackIcon from 'src/components/icons/ArrowBackIcon.svelte';
	import EvolutionChain from 'src/components/EvolutionChain.svelte';

	$: id = Number($page.params.id);

	let pokemon: Pokemon;
	let pokemonEvolutionChain: PokemonEvolutionChain;

	$: (async () => {
		const pokemonData = await fetchJson(`https://pokeapi.co/api/v2/pokemon/${id}/`);
		pokemon = {
			id: pokemonData.id,
			name: pokemonData.name,
			sprite: pokemonData.sprites.front_default,
			height: pokemonData.height,
			weight: pokemonData.weight,
			types: pokemonData.types.map((typeObject) => typeObject.type.name)
		};

		const speciesData = await fetchJson(`https://pokeapi.co/api/v2/pokemon-species/${id}/`);
		const evolutionChainUrl = speciesData.evolution_chain.url;

		const generatePokemonEvolutionChain = (chainData): PokemonEvolutionChain => {
			const id = extractIdFromUrl(chainData.species.url);
			const pokemonEvolutionChain = {
				id: id || 0,
				name: chainData.species.name
			};
			if (id && chainData.evolves_to.length > 0) {
				const nextChain = chainData.evolves_to[0];
				const evolution_details = nextChain.evolution_details[0];
				const nextId = extractIdFromUrl(nextChain.species.url);
				return {
					...pokemonEvolutionChain,
					evolves: evolution_details.trigger.name,
					evolvesAtLvl: evolution_details.min_level || undefined,
					evolvesInto: generatePokemonEvolutionChain(nextChain)
				};
			}
			return pokemonEvolutionChain;
		};

		const evolutionChainData = await fetchJson(evolutionChainUrl);
		pokemonEvolutionChain = generatePokemonEvolutionChain(evolutionChainData.chain);
	})();

	$: pokemonName = capitalizeFirstLetter(pokemon?.name);
</script>

<svelte:head>
	{#if pokemon}
		<title>{pokemonName} - Svelte Pokedex</title>
	{/if}
</svelte:head>

{#if pokemon}
	<div class="flex justify-between items-center pb-10">
		<a href="/" class="hover:shadow-lg border-gray-200 hover:rounded-lg hover:bg-white p-1">
			<ArrowBackIcon classes="w-8 h-8" />
		</a>
		<h1 class="text-4xl text-center">#{pokemon.id} {pokemonName}</h1>
		<span />
	</div>

	<div class="flex flex-col gap-6">
		<div class="flex flex-col items-center shadow border-gray-200 rounded-lg bg-white p-4">
			<img src={pokemon.sprite} alt={`${pokemonName} sprite`} class="h-60 w-60" />
			<span><b>ID:</b> #{pokemon.id}</span>
			<span><b>Name:</b> {pokemonName}</span>
			<span><b>Height:</b> {pokemon.height}</span>
			<span><b>Weight:</b> {pokemon.weight}</span>
			<span><b>Types:</b> {pokemon.types.join(', ')} </span>
		</div>

		{#if pokemonEvolutionChain && pokemonEvolutionChain.evolves !== undefined}
			<div class="flex gap-6 justify-center items-center">
				<EvolutionChain {pokemonEvolutionChain} />
			</div>
		{/if}
	</div>
{/if}
