<script lang="ts">
	import { EvolutionTrigger, PokemonEvolutionChain, TriggerLabel } from 'src/types/pokemon';
	import DoubleChevronRightIcon from './icons/DoubleChevronRightIcon.svelte';
	import PokemonBaseTile from './PokemonBaseTile.svelte';

	export let pokemonEvolutionChain: PokemonEvolutionChain;
</script>

<PokemonBaseTile pokemon={pokemonEvolutionChain} />
{#if pokemonEvolutionChain.evolves !== undefined}
	<div class="flex flex-col gap-1 items-center">
		<span class="text-sm"
			>{pokemonEvolutionChain.evolves === EvolutionTrigger.LEVEL_UP
				? `Lvl ${pokemonEvolutionChain.evolvesAtLvl || ''}`
				: TriggerLabel[pokemonEvolutionChain.evolves]}
		</span>
		<DoubleChevronRightIcon classes="h-6 w-6" />
	</div>
	<svelte:self pokemonEvolutionChain={pokemonEvolutionChain.evolvesInto} />
{/if}
