<script lang="ts">
	import type { PokemonBaseInfos } from 'src/types/pokemon';
	import { capitalizeFirstLetter } from 'src/utils/stringUtils';

	export let pokemon: PokemonBaseInfos;
</script>

<a
	class="shadow hover:shadow-xl border border-gray-200 rounded-lg bg-white flex justify-center flex-col p-2 items-center w-40 select-none cursor-pointer hover:transform hover:scale-125"
	href={`/pokemon/${pokemon.id}`}
>
	<img
		src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`}
		alt={`${pokemon.name} sprite`}
	/>
	<span class="font-semibold">{`#${pokemon.id} ${capitalizeFirstLetter(pokemon.name)}`}</span>
</a>
